$black: #000;
$white: #ffffff;
$point: #f37342;
$point2: #1b4556;

//font
$korea: 'NotoSansKR', sans-serif, 'Malgun Gothic', '맑은 고딕';

$default-font: $korea, AppleSDGothicNeo, -apple-system, BlinkMacSystemFont, 'Malgun Gothic', '맑은 고딕', "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$mont: 'Montserrat', $korea;
