.main-section-area {
  width: 100%;
  .slick-arrow {
    position: absolute;
    left: 0;
    top: 23px;
    display: block;
    width: 45px;
    height: 55px;
    text-indent: -9999px;
    cursor: pointer;
  }

  .slick-prev {
    background: url('../img/main/dg_premium_prev.png') 50% 50% no-repeat;
  }

  .slick-next {
    left: auto;
    right: 0;
    background: url('../img/main/dg_premium_next.png') 50% 50% no-repeat;
  }
}
.main-copyright {
  &-area {
    width: 422px;
    position: absolute;
    right: 0;
    z-index: 11;
    top: 0;
    height: 100%;
    background-image: url("../img/main/main-slide-bg.png");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 265px;
    box-sizing: border-box;
    padding-left: 3.75%;
    background-size: cover;
  }
  &__main-text {
    font-size: 38px;
    font-weight: 400;
    line-height: 1.26;
    letter-spacing: -2.28px;
    color: #f8f8f8;
    &-impact {
      font-weight: bold;
      color: $point;
    }
  }
  &__sub-text {
    margin-top: 45px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.3px;
    color: #f8f8f8;
    &-impact {
      font-weight: bold;
      color: $point;
    }
  }
}
.slick-control-area {
  position: absolute;
  top: 525px;
  left: 0;
  .controller-progress-bar {
    left: 0;
    position: absolute;
    width: calc(100vw - 422px);
    height: 1px;
    background: rgba(254, 254, 254, 0.3);
    top: 56px;
    .controller-progress-line {
      position: absolute;
      height: 1px;
      background: #fff;
      z-index: 1;
      transition: all 0.2s;
      width: 0%;
      &.is--active {
        animation: proBar 4s 1;
        width: 100%;
      }
    }
  }
  .controller-with-paging {
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22px;
  }
  .controller__number {
    margin-top: 10px;
    margin-bottom: 10px;
    color: $white;
    font-family: $mont;
    font-weight: 500;
    &.controller {
      &__total {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}

@keyframes proBar{
  0%{width:0;}
  100%{width:100%;}
}

.main-slide {
  &__item {
    height: 100vh;
    position: relative;
    .main-slide-bg {
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      background-position: 50% 50%;
      background-image: url("../img/main/main-slide1-img.png");
      &2 {
        background-image: url("../img/main/main-slide2-img.png");
      }
      &3 {
        background-image: url("../img/main/main-slide3-img.png");
      }
      &4 {
        background-image: url("../img/main/main-slide4-img.png");
      }
    }
  }
  &-nav {
    width: 550px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 16;
    &.slick-slider {
      margin-bottom: 63px;
    }
    .slick-slide {
      transition: all .2s;
      filter: contrast(25%) grayscale(100%);
      &.slick-current {
        filter: contrast(100%) grayscale(0%);
      }
    }
    &__item {
      width: 244px;
      margin-right: 20px;
      img {
        width: 244px;
      }
    }
    .slick-dots {
      bottom: auto;
      top: -134px;
      width: 422px;
      right: 0;
      text-align: left;
      padding-left: 13%;
      box-sizing: border-box;
      li {
        width: 4px;
        height: 4px;
        button {
          padding: 0;
          margin: 0 auto;
          width: 7px;
          height: 7px;
          background: $white;
          border-radius: 50%;
          opacity: 0.3;
          &:before {
            content: none;
          }
        }
        &.slick-active {
          button {
            opacity: 1;
          }
        }
      }
    }
  }
  &-text {
    color: $white;
    position: absolute;
    top: 380px;
    left: 16%;
    .main-slide {
      &__label {
        font-size: 17px;
        font-weight: 500;
        font-family: $mont;
      }
      &__main-text {
        font-size: 56px;
        letter-spacing: -4.52px;
        font-weight: 400;
        line-height: 1.17;
        color: #f8f8f8;
        margin: 32px 0 50px;
        &-impact {
          color: $point;
          font-weight: 700;
        }
      }
      &__description {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.56;
        letter-spacing: -1.08px;
      }
    }
  }
}
.customer__link {
  position: absolute;
  left: 0;
  bottom: 170px;
  z-index: 1;
}
//메인 비주얼 슬라이드
.main-section-visual {
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  .main-visual-controller {
    position: absolute;
    left: 50px;
    top: 50%;
    margin-top: -240px;
    z-index: 333;
     .controller-progress-bar {
       position: absolute;
       left: -8px;
       width: 1px;
       height: 100%;
       background: rgba(254,254,254,.2);
       .controller-progress-line {
         position: absolute;
         width: 1px;
         background: $white;
         z-index: 1;
         transition: 0.5s;
         height: 33.33%;
       }
     }
    .visual-controller__item {
      position:relative;
      cursor:pointer;
      & + .visual-controller__item {
        margin-top: 10px;
      }
      .visual-controller-img {
        width:92px;
        height: 134px;
        opacity: 0.5;
        background-repeat: no-repeat;
        background-position: 0 0;
        &1 {
          background-image: url('../img/main/dg_thumbnail1_img.png');
        }
        &2 {
          background-image: url('../img/main/dg_thumbnail2_img.png');
        }
        &3 {
          background-image: url('../img/main/dg_thumbnail3_img.png');
        }
      }
      &.on,
      &:hover {
        .visual-controller-img {
          opacity: 1;
          transition: 0.3s;
          &1 {
            background-image: url('../img/main/dg_thumbnail1_img_active.png');
          }
          &2 {
            background-image: url('../img/main/dg_thumbnail2_img_active.png');
          }
          &3 {
            background-image: url('../img/main/dg_thumbnail3_img_active.png');
          }
        }
      }
    }
  }

  .main-visual-content {
    overflow: hidden;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    .visual-content-img {
      position: relative;
      margin-bottom: 180px;
      text-align: center;
      > img {
        display: inline-block;
      }
    }
    .main-label {
      position: absolute;
      top: 0;
    }
  }

  .visual-content {
    height:1094px;
    display: inline-flex !important;
    align-items: flex-end;
    justify-content: center;
    &1 {
      background: url('../img/main/dg_slide1_bg.png') no-repeat center center;
      background-size: cover;
      background-attachment: fixed;
      .main-text-img {
        top: -50px;
        right: 20px;
      }
      .main-label {
        top: -40px;
        left: 40px;
      }
    }
    &2 {
      background: url('../img/main/dg_slide2_bg.png') no-repeat center center;
      background-size: cover;
      background-attachment: fixed;
      .main-text-img {
        top: 50px;
        left: 70px;
      }
      .main-label {
        top: 100px;
        right: 70px;
      }
    }
    &3 {
      background: url('../img/main/dg_slide3_bg.png') no-repeat center center;
      background-size: cover;
      background-attachment: fixed;
      .main-text-img {
        top: 20px;
        right: 50px;
      }
      .main-label {
        top: 29px;
        left: 40px;
      }
    }
    .main-text-img {
      position: absolute;
    }
  }
}

.side-quick-menu {
  width: 91px;
  position: absolute;
  right: 0;
  top: 135px;
  z-index: 10;
  &__link {
    display: block;
  }
}
