.footer {
  width: 100%;
  background: $white;
  color: rgba(34, 34, 34, 0.8);
  box-sizing: border-box;
  padding: 1.5rem 5.8%;
  &-logo {
    width: 30%;
    max-width: 216px;
    &2 {
      width: 25.4%;
      max-width: 183px;
    }
    &-area {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &-left {
    display: flex;
    align-items: center;
  }
  &-text {
    margin-top: 10px;
    &__item {
      font-size: 11px;
      line-height: 1.2;
      letter-spacing: -0.16px;
      margin-top: 2px;
      &:first-child {
        margin-top: 0;
      }
      &-copyright {
        color: rgba(153, 153, 153, 0.6);
        text-transform: uppercase;
        font-size: 10px;
        font-weight: normal;
      }
    }
  }
  &-separator {
    font-size: 9px;
    color: $white;
    margin: -4px 5px 0;
  }
}
.sub {
  .footer {
    background: #f8f8f8;
  }
}

