@charset "UTF-8";
@import url(vendors/aos.css);
@import url(vendors/slick.css);
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 200;
  src: url("../fonts/NotoSansKR-Thin.eot");
  src: url("../fonts/NotoSansKR-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Thin.woff2") format("woff2"), url("../fonts/NotoSansKR-Thin.woff") format("woff"), url("../fonts/NotoSansKR-Thin.otf") format("opentype");
}
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 300;
  src: url("../fonts/NotoSansKR-Light.eot");
  src: url("../fonts/NotoSansKR-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Light.woff2") format("woff2"), url("../fonts/NotoSansKR-Light.woff") format("woff"), url("../fonts/NotoSansKR-Light.otf") format("opentype");
}
/*normal*/
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 400;
  src: url("../fonts/NotoSansKR-Regular.eot");
  src: url("../fonts/NotoSansKR-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Regular.woff2") format("woff2"), url("../fonts/NotoSansKR-Regular.woff") format("woff"), url("../fonts/NotoSansKR-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 600;
  src: url("../fonts/NotoSansKR-Medium.eot");
  src: url("../fonts/NotoSansKR-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Medium.woff2") format("woff2"), url("../fonts/NotoSansKR-Medium.woff") format("woff"), url("../fonts/NotoSansKR-Medium.otf") format("opentype");
}
/*bold*/
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 700;
  src: url("../fonts/NotoSansKR-Bold.eot");
  src: url("../fonts/NotoSansKR-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Bold.woff2") format("woff2"), url("../fonts/NotoSansKR-Bold.woff") format("woff"), url("../fonts/NotoSansKR-Bold.otf") format("opentype");
}
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 800;
  src: url("../fonts/NotoSansKR-Black.eot");
  src: url("../fonts/NotoSansKR-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Black.woff2") format("woff2"), url("../fonts/NotoSansKR-Black.woff") format("woff"), url("../fonts/NotoSansKR-Black.otf") format("opentype");
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Light.eot");
  src: url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SCoreDream';
  src: url("../fonts/S-CoreDream-3Light.eot");
  src: url("../fonts/S-CoreDream-3Light.eot?#iefix") format("embedded-opentype"), url("../fonts/S-CoreDream-3Light.woff2") format("woff2"), url("../fonts/S-CoreDream-3Lightwoff") format("woff");
  font-weight: 300;
  font-display: swap;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

*, body {
  font-family: "NotoSansKR", sans-serif, "Malgun Gothic", "맑은 고딕", AppleSDGothicNeo, -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}
@media all and (max-width: 910px) {
  html {
    font-size: 14px;
  }
}

a,
a:hover,
a:focus,
a:active,
a:link {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

fieldset {
  border: 0;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}
button:focus {
  outline: none;
}

strong,
b {
  color: inherit;
  font-size: inherit;
}

i,
em {
  font-style: normal;
}

mark {
  color: inherit;
  background: none;
}

button {
  -webkit-appearance: none;
}

input {
  -webkit-border-radius: 0;
}

input:matches([type="password"], [type="search"]),
input[type=text],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

table {
  border-collapse: collapse;
}

.blind, .hide {
  position: absolute !important;
  width: 0 !important;
  height: 0 !important;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  overflow: hidden;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 15;
  padding: 35px 67px 32px 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  transition: height .2s, background-color .2s;
}
.header-logo {
  width: 245px;
  height: 56px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-image: url("../img/common/logo.png");
}
.header-logo__link {
  display: block;
  height: 110px;
}
.header-menu {
  padding-top: 27px;
  text-align: center;
  z-index: 11;
  margin-right: 7.8vw;
}
.header-menu-area {
  display: flex;
  align-items: center;
}
.header-menu-list {
  display: flex;
}
.header-menu__item {
  padding: 0 2vw 17px;
  position: relative;
}
.header-menu__item:hover .header-menu__link:after {
  width: 100%;
}
.header-menu__item:hover .header-menu-depth {
  display: block;
  padding-top: 36px;
  height: auto;
  opacity: 1;
  padding-bottom: 36px;
}
.header-menu__item:hover .header-menu-depth__link {
  padding: 5px 0 5px 0;
  font-size: 15px;
  font-weight: 300;
  height: auto;
  opacity: 1;
  transition-delay: 2s;
}
.header-menu__item:last-child:after {
  content: '';
  background: transparent;
  height: 0;
  width: 1px;
  position: absolute;
  top: 66px;
  right: 0;
  transition-property: background-color, height;
  transition-timing-function: ease-in-out;
  transition-duration: 0s;
  transition-delay: 0s;
}
.header-menu .header-menu__link {
  font-size: 17px;
  letter-spacing: -0.4px;
  color: #ffffff;
  box-sizing: border-box;
  position: relative;
  font-weight: normal;
}
.header-menu .header-menu__link.disabled {
  opacity: .4;
}
.header-menu .header-menu-depth {
  position: absolute;
  left: 0;
  width: 100%;
  top: 13px;
  display: none;
  height: 0;
  opacity: 0;
  transition-property: opacity, height;
  transition-timing-function: ease-in-out;
  transition-duration: .8s;
  box-sizing: border-box;
  text-align: center;
}
.header-menu .header-menu-depth__link {
  display: block;
  color: #ffffff;
  letter-spacing: -0.4px;
  font-size: 0;
  opacity: 0;
  height: 0;
  padding: 0;
  transition-property: opacity, height;
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
  transition-delay: .5s;
}
.header-menu .header-menu-depth__link.disabled {
  opacity: 0.4;
}
.header-menu .header-menu-depth__link:hover {
  font-weight: 600;
}
.header-tel {
  width: 183px;
  height: 28px;
  background-repeat: no-repeat;
  background-image: url("../img/common/header-tel.png");
}

.footer {
  width: 100%;
  height: 150px;
  background: #ffffff;
  color: rgba(34, 34, 34, 0.8);
  box-sizing: border-box;
  padding: 0 124px 0 117px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-left {
  display: flex;
  align-items: center;
}
.footer-text {
  margin-left: 73px;
}
.footer-text__item {
  font-size: 16px;
  line-height: 0.94;
  letter-spacing: -0.32px;
  margin-top: 7px;
}
.footer-text__item:first-child {
  margin-top: 0;
}
.footer-text__item-copyright {
  font-size: 14px;
  color: rgba(153, 153, 153, 0.8);
  margin-top: 10px;
  text-transform: uppercase;
}
.footer-separator {
  font-size: 12px;
  color: rgba(154, 154, 154, 0.4);
  margin: 0 8px;
}

.sub .footer {
  background: #f8f8f8;
}

html {
  -webkit-font-smoothing: antialiased;
}

.layout {
  position: relative;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.layout::after {
  content: '';
  display: block;
  clear: both;
}
.layout.is--content-center {
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .layout {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 990px) {
  .layout {
    padding-left: 0;
    padding-right: 0;
  }
}

img {
  max-width: 100%;
}

@media screen and (min-width: 991px) {
  .is--mobile {
    display: none !important;
  }
}

@media screen and (max-width: 990px) {
  .is--pc {
    display: none !important;
  }
}

.img-circle {
  vertical-align: baseline;
}

[data-aos][data-aos][data-aos-delay="3200"].aos-animate,
body[data-aos-delay="3200"] [data-aos].aos-animate {
  transition-delay: 3.2s;
}

[data-aos][data-aos][data-aos-delay="3400"].aos-animate,
body[data-aos-delay="3400"] [data-aos].aos-animate {
  transition-delay: 3.4s;
}

[data-aos][data-aos][data-aos-delay="3600"].aos-animate,
body[data-aos-delay="3600"] [data-aos].aos-animate {
  transition-delay: 3.6s;
}

[data-aos][data-aos][data-aos-delay="4200"].aos-animate,
body[data-aos-delay="4200"] [data-aos].aos-animate {
  transition-delay: 4.2s;
}

main.sub,
main.main,
body,
html {
  overflow-x: hidden;
}

.bounce-mouse {
  animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 100% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-30px);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-30px);
  }
}
.main-section-area {
  width: 100%;
}

.main-copyright-area {
  width: 422px;
  position: absolute;
  right: 0;
  z-index: 11;
  top: 0;
  height: 100%;
  background-image: url("../img/main/main-slide-bg.png");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 265px;
  box-sizing: border-box;
  padding-left: 3.75%;
  background-size: cover;
}
.main-copyright__main-text {
  font-size: 38px;
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: -2.28px;
  color: #f8f8f8;
}
.main-copyright__main-text-impact {
  font-weight: bold;
  color: #f37342;
}
.main-copyright__sub-text {
  margin-top: 45px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.3px;
  color: #f8f8f8;
}
.main-copyright__sub-text-impact {
  font-weight: bold;
  color: #f37342;
}

.slick-control-area {
  position: absolute;
  top: 508px;
  left: 0;
}
.slick-control-area .controller-progress-bar {
  left: 0;
  position: absolute;
  width: calc(100vw - 422px);
  height: 1px;
  background: rgba(254, 254, 254, 0.3);
  top: 56px;
}
.slick-control-area .controller-progress-bar .controller-progress-line {
  position: absolute;
  height: 1px;
  background: #fff;
  z-index: 1;
  transition: all 0.2s;
  width: 0%;
}
.slick-control-area .controller-progress-bar .controller-progress-line.is--active {
  animation: proBar 4s 1;
  width: 100%;
}
.slick-control-area .controller-with-paging {
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22px;
}
.slick-control-area .controller__number {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ffffff;
  font-family: "Montserrat", "NotoSansKR", sans-serif, "Malgun Gothic", "맑은 고딕";
  font-weight: 500;
}
.slick-control-area .controller__number.controller__total {
  color: rgba(255, 255, 255, 0.5);
}

@keyframes proBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.main-slide__item {
  height: 100vh;
  position: relative;
}
.main-slide__item .main-slide-bg {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-position: 50% 50%;
  background-image: url("../img/main/main-slide1-img.png");
}
.main-slide__item .main-slide-bg2 {
  background-image: url("../img/main/main-slide2-img.png");
}
.main-slide__item .main-slide-bg3 {
  background-image: url("../img/main/main-slide3-img.png");
}
.main-slide__item .main-slide-bg4 {
  background-image: url("../img/main/main-slide4-img.png");
}
.main-slide-nav {
  width: 550px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 16;
}
.main-slide-nav.slick-slider {
  margin-bottom: 63px;
}
.main-slide-nav .slick-slide {
  transition: all .2s;
  filter: contrast(25%) grayscale(100%);
}
.main-slide-nav .slick-slide.slick-current {
  filter: contrast(100%) grayscale(0%);
}
.main-slide-nav__item {
  width: 244px;
  margin-right: 20px;
}
.main-slide-nav__item img {
  width: 244px;
}
.main-slide-nav .slick-dots {
  bottom: auto;
  top: -134px;
  width: 422px;
  right: 0;
  text-align: left;
  padding-left: 13%;
  box-sizing: border-box;
}
.main-slide-nav .slick-dots li {
  width: 4px;
  height: 4px;
}
.main-slide-nav .slick-dots li button {
  padding: 0;
  margin: 0 auto;
  width: 7px;
  height: 7px;
  background: #ffffff;
  border-radius: 50%;
  opacity: 0.3;
}
.main-slide-nav .slick-dots li button:before {
  content: none;
}
.main-slide-nav .slick-dots li.slick-active button {
  opacity: 1;
}
.main-slide-text {
  color: #ffffff;
  position: absolute;
  top: 350px;
  left: 16%;
}
.main-slide-text .main-slide__label {
  font-size: 17px;
  font-weight: 500;
  font-family: "Montserrat", "NotoSansKR", sans-serif, "Malgun Gothic", "맑은 고딕";
}
.main-slide-text .main-slide__main-text {
  font-size: 56px;
  letter-spacing: -4.52px;
  font-weight: 400;
  line-height: 1.17;
  color: #f8f8f8;
  margin: 32px 0 50px;
}
.main-slide-text .main-slide__main-text-impact {
  color: #f37342;
  font-weight: 600;
}
.main-slide-text .main-slide__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: -1.08px;
}

.customer__link {
  position: absolute;
  left: 0;
  bottom: 170px;
  z-index: 1;
}

.main-section-visual {
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}
.main-section-visual .main-visual-controller {
  position: absolute;
  left: 50px;
  top: 50%;
  margin-top: -240px;
  z-index: 333;
}
.main-section-visual .main-visual-controller .controller-progress-bar {
  position: absolute;
  left: -8px;
  width: 1px;
  height: 100%;
  background: rgba(254, 254, 254, 0.2);
}
.main-section-visual .main-visual-controller .controller-progress-bar .controller-progress-line {
  position: absolute;
  width: 1px;
  background: #ffffff;
  z-index: 1;
  transition: 0.5s;
  height: 33.33%;
}
.main-section-visual .main-visual-controller .visual-controller__item {
  position: relative;
  cursor: pointer;
}
.main-section-visual .main-visual-controller .visual-controller__item + .visual-controller__item {
  margin-top: 10px;
}
.main-section-visual .main-visual-controller .visual-controller__item .visual-controller-img {
  width: 92px;
  height: 134px;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.main-section-visual .main-visual-controller .visual-controller__item .visual-controller-img1 {
  background-image: url("../img/main/dg_thumbnail1_img.png");
}
.main-section-visual .main-visual-controller .visual-controller__item .visual-controller-img2 {
  background-image: url("../img/main/dg_thumbnail2_img.png");
}
.main-section-visual .main-visual-controller .visual-controller__item .visual-controller-img3 {
  background-image: url("../img/main/dg_thumbnail3_img.png");
}
.main-section-visual .main-visual-controller .visual-controller__item.on .visual-controller-img, .main-section-visual .main-visual-controller .visual-controller__item:hover .visual-controller-img {
  opacity: 1;
  transition: 0.3s;
}
.main-section-visual .main-visual-controller .visual-controller__item.on .visual-controller-img1, .main-section-visual .main-visual-controller .visual-controller__item:hover .visual-controller-img1 {
  background-image: url("../img/main/dg_thumbnail1_img_active.png");
}
.main-section-visual .main-visual-controller .visual-controller__item.on .visual-controller-img2, .main-section-visual .main-visual-controller .visual-controller__item:hover .visual-controller-img2 {
  background-image: url("../img/main/dg_thumbnail2_img_active.png");
}
.main-section-visual .main-visual-controller .visual-controller__item.on .visual-controller-img3, .main-section-visual .main-visual-controller .visual-controller__item:hover .visual-controller-img3 {
  background-image: url("../img/main/dg_thumbnail3_img_active.png");
}
.main-section-visual .main-visual-content {
  overflow: hidden;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}
.main-section-visual .main-visual-content .visual-content-img {
  position: relative;
  margin-bottom: 180px;
  text-align: center;
}
.main-section-visual .main-visual-content .visual-content-img > img {
  display: inline-block;
}
.main-section-visual .main-visual-content .main-label {
  position: absolute;
  top: 0;
}
.main-section-visual .visual-content {
  height: 1094px;
  display: inline-flex !important;
  align-items: flex-end;
  justify-content: center;
}
.main-section-visual .visual-content1 {
  background: url("../img/main/dg_slide1_bg.png") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
.main-section-visual .visual-content1 .main-text-img {
  top: -50px;
  right: 20px;
}
.main-section-visual .visual-content1 .main-label {
  top: -40px;
  left: 40px;
}
.main-section-visual .visual-content2 {
  background: url("../img/main/dg_slide2_bg.png") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
.main-section-visual .visual-content2 .main-text-img {
  top: 50px;
  left: 70px;
}
.main-section-visual .visual-content2 .main-label {
  top: 100px;
  right: 70px;
}
.main-section-visual .visual-content3 {
  background: url("../img/main/dg_slide3_bg.png") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
.main-section-visual .visual-content3 .main-text-img {
  top: 20px;
  right: 50px;
}
.main-section-visual .visual-content3 .main-label {
  top: 29px;
  left: 40px;
}
.main-section-visual .visual-content .main-text-img {
  position: absolute;
}

.side-quick-menu {
  width: 91px;
  position: absolute;
  right: 0;
  top: 135px;
  z-index: 10;
}
.side-quick-menu__link {
  display: block;
}

.sub-top-content {
  display: flex;
  align-items: flex-end;
  position: relative;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}
.sub-top-bg {
  width: 100%;
  padding-top: 131px;
  height: 488px;
  background-size: cover;
  z-index: 10;
  background-image: url("../img/sub/sub-top-bg.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
.sub-top-bg .sub-top__description {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -0.5px;
}
.sub-top-bg .sub-top__description--impact {
  margin-top: 6px;
  display: block;
  font-size: 46px;
  color: #b7aa00;
  font-weight: bold;
}
.sub .sub-top-menu {
  position: absolute;
  right: 0;
  top: 488px;
  z-index: 11;
  height: 58px;
  display: flex;
  align-items: center;
  opacity: 0;
  box-sizing: border-box;
  justify-content: space-between;
}
.sub .sub-top-menu__item {
  letter-spacing: -0.5px;
  font-size: 16px;
  color: #000;
}
.sub .sub-top-menu__item + .sub-top-menu__item:before {
  content: '';
  width: 1px;
  height: 20px;
  background: #d9d9d9;
  opacity: 0.3;
  display: inline-block;
  margin: 0 30px;
  vertical-align: middle;
}
.sub .sub-top-menu__item.is--active {
  color: #cadbed;
  font-weight: bold;
}
.sub .sub-top-menu .sub-menu-home__icon {
  float: left;
  width: 32px;
  height: 48px;
  margin-right: 20px;
  background: url("../img/sub/icon-sub-menu.png") no-repeat center;
}
.sub .sub-top-menu .sub-menu-home__link {
  display: block;
  height: 100%;
}
.sub .sub-top-menu .sub-menu .sub-menu-depth {
  float: left;
  width: 220px;
  height: 48px;
  background: url("../img/sub/sub-dropdown-arrow.png") no-repeat right 20px center;
  padding-left: 20px;
  font-size: 14px;
  color: #444444;
  box-sizing: border-box;
  position: relative;
  line-height: 48px;
  font-weight: 500;
}
.sub .sub-top-menu .sub-menu .sub-menu-depth:after {
  content: '';
  display: block;
  height: 12px;
  width: 1px;
  background-color: #d9d9d9;
  position: absolute;
  left: 0;
  top: 18px;
}
.sub .sub-top-menu .sub-menu .sub-menu-depth-list {
  display: none;
}
.sub .sub-top-menu .sub-menu .sub-menu-depth:hover .sub-menu-depth-list {
  display: block;
  position: absolute;
  top: 42px;
  left: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
}
.sub .sub-top-menu .sub-menu .sub-menu-depth:hover .sub-menu-depth__item {
  width: 218px;
  height: 48px;
  border-top: 1px solid #d9d9d9;
}
.sub .sub-top-menu .sub-menu .sub-menu-depth:hover .sub-menu-depth__link {
  display: block;
  height: 100%;
  padding-left: 14px;
  background: #fff;
  font-size: 15px;
  color: #444;
  line-height: 48px;
}
.sub .sub-top-menu .sub-menu .sub-menu-depth:hover .sub-menu-depth__link:hover {
  color: #f37342;
}
.sub .customer__link {
  position: absolute;
  left: 0;
  top: 441px;
  bottom: auto;
  z-index: 10;
}

.sub-content-area {
  min-height: 300px;
  padding: 620px 0 155px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.sub-content__title {
  font-size: 26px;
  letter-spacing: -1px;
  color: #1b4556;
  font-weight: normal;
}
.sub-content__title-english {
  color: #1b4556;
  font-family: "Montserrat", "NotoSansKR", sans-serif, "Malgun Gothic", "맑은 고딕";
  font-size: 48px;
  letter-spacing: -1.98px;
}
.sub-content__title-english div {
  font: inherit;
  color: inherit;
}
.sub-content__title div {
  font: inherit;
  color: inherit;
}

.sub-content-content {
  padding-top: 85px;
  margin: 0 auto;
}
.sub-content-content::after {
  content: '';
  display: block;
  clear: both;
}

/*sub-page-notice*/
.page_info {
  width: 100%;
  color: #888;
  padding: 1rem 2rem;
  /* border: 1px solid #d1d1d1; */
  margin: 4rem auto;
  letter-spacing: -.04rem;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.page_info li {
  font-size: 14px;
  color: #878787;
  line-height: 1.1rem;
}
.page_info li + li {
  margin-top: 10px;
}

.page_info LI:before {
  content: "※";
  display: inline-block;
  margin-right: .1rem;
  color: #878787;
  font-size: 14px;
}
