$black: #000;
$lBlack: #1a1818;
$white: #ffffff;
$navy: #3d4268;
$grey: #464646;
$lgrey: #a9a9a9;
$red: #f74242;
$border: #ccc;
$green: #09a7b4;
$lPoint: #80745c;
$darkPoint: #0a2241;
$darkBlue: #003056;
$blue: #093354;
$navy-blue: #00113f;
$black: #000;
$lBlack: #1a1818;
$white: #ffffff;
$navy: #3d4268;
$grey: #464646;
$lgrey: #a9a9a9;
$red: #f74242;
$border: #ccc;
$blue: #000e42;
$point: #1e3a4b;
$point2: #f37342;

//font
$korea: 'NotoSansKR', sans-serif, 'Malgun Gothic', '맑은 고딕';

$default-font: $korea, AppleSDGothicNeo, -apple-system, BlinkMacSystemFont, 'Malgun Gothic', '맑은 고딕', "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$mont: 'Montserrat', $korea;
