.header {
  position: absolute;
  width: 100%;
  //height: 145px;
  z-index: 15;
  padding: 35px 67px 32px 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  transition: height .2s, background-color .2s;

  &-logo {
    width: 245px;
    height: 56px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-image: url("../img/common/logo.png");
    &__link {
      display: block;
      height: 110px;
    }
  }
  &-menu {
    padding-top: 27px;
    text-align: center;
    z-index: 11;
    margin-right: 7.8vw;
    &-area {
      display: flex;
      align-items: center;
    }
    &-list {
      display: flex;
    }
    &__item {
      padding: 0 2vw 17px;
      position: relative;
      &:hover {
        .header-menu__link {
          &:after {
            width: 100%;
          }
        }
        .header-menu-depth {
          display: block;
          padding-top: 36px;
          height: auto;
          opacity: 1;
          padding-bottom: 36px;
          &__link {
            padding: 5px 0 5px 0;
            font-size: 15px;
            font-weight: 300;
            height: auto;
            opacity: 1;
            transition-delay: 2s;
          }
        }
      }
      &:last-child {
        &:after {
          content: '';
          background: transparent;
          height: 0;
          width: 1px;
          position: absolute;
          top: 66px;
          right: 0;
          transition-property: background-color, height;
          transition-timing-function: ease-in-out;
          transition-duration: 0s;
          transition-delay: 0s;
        }
      }
    }
    .header-menu__link {
      font-size: 17px;
      letter-spacing: -0.4px;
      color: $white;
      box-sizing: border-box;
      position: relative;
      font-weight: normal;
      &.disabled {
        opacity: .4;
      }
      //&:after {
      //  content: '';
      //  position: absolute;
      //  width: 0;
      //  height: 2px;
      //  background: $point;
      //  left: 0;
      //  bottom: -6px;
      //  -webkit-transition: all 0.5s ease .1s;
      //  -moz-transition: all 0.5s ease .1s;
      //  -o-transition: all 0.5s ease .1s;
      //  transition: all 0.5s ease .1s;
      //}
    }
    .header-menu-depth {
      position: absolute;
      left: 0;
      width: 100%;
      top: 13px;
      display: none;
      height: 0;
      opacity: 0;
      transition-property: opacity, height;
      transition-timing-function: ease-in-out;
      transition-duration: .8s;
      box-sizing: border-box;
      text-align: center;
      &__link {
        display: block;
        color: $white;
        letter-spacing: -0.4px;
        font-size: 0;
        opacity: 0;
        height: 0;
        padding: 0;
        transition-property: opacity, height;
        transition-timing-function: ease-in-out;
        transition-duration: 1s;
        transition-delay: .5s;
        &.disabled {
          opacity: 0.4;
        }
        &:hover {
          font-weight: 600;
        }
      }
    }
  }
  &-tel {
    width: 183px;
    height: 28px;
    background-repeat: no-repeat;
    background-image: url("../img/common/header-tel.png");
  }
}
